<!--
  Generated template for the TabsIconPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tabs-icon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs class="tabs-icon" [color]="'primary'">
    <ion-tab tabIcon="contact" [root]="rootPage"></ion-tab>
    <ion-tab tabIcon="compass" [root]="rootPage"></ion-tab>
    <ion-tab tabIcon="analytics" [root]="rootPage"></ion-tab>
    <ion-tab tabIcon="settings" [root]="rootPage"></ion-tab>
  </ion-tabs>
</ion-content>
