<!--
  Generated template for the ButtonsSizesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>buttons-sizes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
    <button ion-button color="light" small>Light Small</button>
  </p>
  <p>
    <button ion-button small>Default Small</button>
  </p>
  <p>
    <button ion-button color="secondary">Secondary Medium</button>
  </p>

  <p>
    <button ion-button color="danger" medium>Danger Medium</button>
  </p>
  <p>
    <button ion-button color="dark" large>Dark Large</button>
  </p>
</ion-content>